<turbo-frame id="userinfo">
  <div class="flex md:order-2">
    <button id="user-login" type="button" data-modal-target="crypto-modal" data-modal-toggle="crypto-modal" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
<!--      <svg viewBox="0 0 447 648" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M439.411 9.05726L263.462 423.794L172.321 361.391L237.188 173.042C241.039 161.859 248.164 152.091 257.636 145.007L439.411 9.05726Z" fill="#F7F6F0" stroke="black" stroke-width="6"/>-->
<!--        <path d="M5.72138 309.906L111.07 460.562L34.251 636.032L5.72138 309.906Z" fill="white" stroke="black" stroke-width="6"/>-->
<!--        <path d="M261.182 424.481L112.889 462.988L6.3252 310.99C5.09091 309.229 5.46918 306.808 7.18161 305.508L5.36748 303.118L7.18161 305.508L39.8593 280.697C44.0009 277.552 49.6968 277.433 53.9663 280.402L261.182 424.481Z" fill="url(#paint0_linear_221_11699)" stroke="black" stroke-width="6"/>-->
<!--        <defs>-->
<!--          <linearGradient id="paint0_linear_221_11699" x1="134.127" y1="271.715" x2="134.127" y2="466.415" gradientUnits="userSpaceOnUse">-->
<!--            <stop stop-color="#C3FF00"/>-->
<!--            <stop offset="1" stop-color="#FAFF00"/>-->
<!--          </linearGradient>-->
<!--        </defs>-->
<!--      </svg>-->
      Connect with CKBull
    </button>
  </div>
  <div id="crypto-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button"  class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="crypto-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <!-- Modal header -->
        <div class="px-6 py-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
            Connect wallet
          </h3>
        </div>
        <!-- Modal body -->
        <div class="p-6">
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Use CKBull app to scan the QR code to log in.</p>
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" id="sign_in_qr">
            <!--                        加载中-->
          </div>
          <style>
              table {
                  border-width: 0;
                  border-style: none;
                  border-color: #0000ff;
                  border-collapse: collapse;
              }

              td {
                  border-left: solid 5px #000;
                  padding: 0;
                  margin: 0;
                  width: 0px;
                  height: 5px;
              }

              td.black { border-color: #000; }
              td.white { border-color: #fff; }
          </style>
        </div>
      </div>
    </div>
  </div>

</turbo-frame>